/*
>= 1024px computer
>= 768px tablet
>= 640px Mobile
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --food-primary-color: #f68a8a;
  --food-secondary-color: #ffdbdb;
  --drink-primary-color: #fffcb5;
  --drink-secondary-color: #d6f9f7;
}

/*********** Backgrounds ***********/
.bg-food-primary {
  background-color: var(--food-primary-color);
}

.bg-food-secondary {
  background-color: var(--food-secondary-color);
}

.bg-drink-primary {
  background-color: var(--drink-primary-color);
}

.bg-drink-secondary {
  background-color: var(--drink-secondary-color);
}

h1,
.primary-font {
  font-family: "Major Mono Display", monospace;
  -webkit-text-stroke: 2px;
}

.secondary-font {
  font-family: "Inter", sans-serif;
}

.tertiary-font {
  font-family: "Inria Sans", sans-serif;
}

/* animation */

.error-field {
  animation: errorEntrance 0.2s ease 0s 1 normal forwards;
}

@keyframes errorEntrance {
  0% {
    transform: translateX(100px);
  }

  33% {
    transform: translateX(-80px);
  }

  66% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}

/*********** Others ***********/
